.second-header {
  height          : 10vh;
  width           : 100vw;
  background-color: #f5f5f5;
  
  .second-logo {
    height        : 9vh;
    width         : 50vw;
    display       : block;
    margin        : auto;
  }
}